In [75]:
import pandas as pd
import requests
import datetime
from bs4 import BeautifulSoup
import re
from math import ceil
from tqdm.notebook import tqdm
import glob

In [2]:
headers = {'cookie': 'searchTab=0; MS2Session=aqrzeguifhyoqg4qt5oiz4kd; __utmc=1; __utmz=1.1639408576.13.5.utmcsr=tn.gov|utmccn=(referral)|utmcmd=referral|utmcct=/; MS2Session_TMS=cjchgoe0y2nmm2h1ot2sfctm; __utma=1.740782077.1638412679.1639726387.1639752588.30; __utmt=1; __utmb=1.10.10.1639752588'}

In [3]:
# Get the local_id for a given offset
offset = 0

URL = f'https://tdot.public.ms2soft.com/tcds/tdetail.asp?offset={offset}'

response = requests.get(URL, headers = headers)

local_id = pd.read_html(response.text)[7].loc[0,1]
local_id
# Code to grab lat/lng probably using BeautifulSoup

'11000001'

In [23]:
# Get the first page of results
pg = 1

URL = f'https://tdot.public.ms2soft.com/tcds/ajax/tcds_tdetail_aadt.asp?offset={offset}&agency_id=295&local_id={local_id}&page_type=&pg={pg}&ajax_time=1639668768124'

response = requests.get(URL, headers = headers)
aadt_table = pd.read_html(response.text)[0]
aadt_table
## Code here to iterate through all of the pages and likely export the results

,0,1,2,3,4,5,6,7,8
0,AADT AADT Calculation AADT = VOL x SF x AF A...,AADT AADT Calculation AADT = VOL x SF x AF A...,AADT AADT Calculation AADT = VOL x SF x AF A...,AADT AADT Calculation AADT = VOL x SF x AF A...,AADT AADT Calculation AADT = VOL x SF x AF A...,AADT AADT Calculation AADT = VOL x SF x AF A...,AADT AADT Calculation AADT = VOL x SF x AF A...,AADT AADT Calculation AADT = VOL x SF x AF A...,AADT AADT Calculation AADT = VOL x SF x AF A...
1,NaN,Year,AADT,DHV-30,K %,D %,PA,BC,Src
2,NaN,2020,5212,504,10,65,"4,950 (95%)",262 (5%),NaN
3,NaN,2019,6493,NaN,13,65,NaN,NaN,NaN
4,NaN,2018,55582,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,2017,5488,NaN,10,65,NaN,NaN,NaN
6,NaN,2016,5300,NaN,NaN,NaN,"5,168 (98%)",131 (2%),NaN
7,1-5 of 36,1-5 of 36,1-5 of 36,1-5 of 36,1-5 of 36,1-5 of 36,1-5 of 36,1-5 of 36,1-5 of 36

In [38]:
ceil(int(aadt_table.iloc[7,0].split()[2]) / 5)

8

In [ ]:
# tcds.detail_aadt
# findd url
# find cookie

In [6]:
cheatham = []

In [40]:
aadt_table

                                                   0
0  DIV.banner_icon {float: right; font-size: 9px;...

In [72]:
str(13).zfill(3)

'013'

In [73]:
cheatham = []
for offset in tqdm(range(33)):
    URL = f'https://tdot.public.ms2soft.com/tcds/tdetail.asp?offset={offset}'
    r = requests.get(URL, headers = headers)
    local_id = pd.read_html(r.text)[7].loc[0,1]
    pg = 1
    URL = f'https://tdot.public.ms2soft.com/tcds/ajax/tcds_tdetail_aadt.asp?offset={offset}&agency_id=295&local_id={local_id}&page_type=&pg={pg}&ajax_time=1639668768124'
    response = requests.get(URL, headers = headers)
    aadt_table = pd.read_html(response.text)[0]
    num_pages = ceil(int(aadt_table.iloc[7,0].split()[2]) / 5)
    for pg in range(1,num_pages +1):
        URL = f'https://tdot.public.ms2soft.com/tcds/ajax/tcds_tdetail_aadt.asp?offset={offset}&agency_id=295&local_id={local_id}&page_type=&pg={pg}&ajax_time=1639668768124'
        response = requests.get(URL, headers = headers)
        aadt_page = pd.read_html(response.text)[0]
        aadt_page['loc_id'] = local_id
        aadt_page = aadt_page.iloc[2:-1].drop(0, axis = 1)
        cheatham.append(aadt_page)
    if offset %10 == 9:
        cheatham_list = pd.concat(cheatham)
        cheatham_list.to_csv(f'../cheatham_lists/cheatham_list{str(int((offset + 1) / 10)).zfill(3)}.csv' , index = False)
        cheatham = []
cheatham_list = pd.concat(cheatham)
cheatham_list.to_csv(f'../cheatham_lists/cheatham_list{str(ceil((offset + 1) / 10)).zfill(3)}.csv' , index = False)
cheatham = []

  0%|          | 0/33 [00:00<?, ?it/s]

In [74]:
str(int((19 + 1) / 10)).zfill(3)

'002'

In [77]:
pd.concat(for file in glob.glob('../cheatham_lists/*.csv'))

['../cheatham_lists\\cheatham_list004.csv',
 '../cheatham_lists\\cheatham_list1.0.csv',
 '../cheatham_lists\\cheatham_list2.0.csv',
 '../cheatham_lists\\cheatham_list3.0.csv']

In [80]:
cheatham_aadt = pd.concat([pd.read_csv(file) for file in glob.glob('../cheatham_lists/*.csv')])

In [81]:
cheatham_aadt

        1      2      3     4     5            6         7   8    loc_id
0    2020   6558  603.0   9.0  65.0  6,058 (92%)  500 (8%) NaN  11000028
1    2019   6325    NaN  12.0  65.0          NaN       NaN NaN  11000028
2    2018   6475    NaN  10.0  65.0          NaN       NaN NaN  11000028
3    2017  58452    NaN   NaN   NaN          NaN       NaN NaN  11000028
4    2016   5788    NaN  10.0  65.0          NaN       NaN NaN  11000028
..    ...    ...    ...   ...   ...          ...       ...  ..       ...
355  1989   6586    NaN   NaN   NaN          NaN       NaN NaN  11000027
356  1988   6856    NaN   NaN   NaN          NaN       NaN NaN  11000027
357  1987   5910    NaN   NaN   NaN          NaN       NaN NaN  11000027
358  1986   6080    NaN   NaN   NaN          NaN       NaN NaN  11000027
359  1985   4957    NaN   NaN   NaN          NaN       NaN NaN  11000027

[1012 rows x 9 columns]

In [70]:
cheatham_list

       1      2    3    4    5          6        7    8    loc_id
2   2020    995   90    9   65  959 (96%)  36 (4%)  NaN  11000016
3   2019    969  NaN   12   65        NaN      NaN  NaN  11000016
4   2018   1103  NaN    9   65        NaN      NaN  NaN  11000016
5   2017  10182  NaN  NaN  NaN        NaN      NaN  NaN  11000016
6   2016  10112  NaN  NaN  NaN        NaN      NaN  NaN  11000016
..   ...    ...  ...  ...  ...        ...      ...  ...       ...
3   1989   6586  NaN  NaN  NaN        NaN      NaN  NaN  11000027
4   1988   6856  NaN  NaN  NaN        NaN      NaN  NaN  11000027
5   1987   5910  NaN  NaN  NaN        NaN      NaN  NaN  11000027
6   1986   6080  NaN  NaN  NaN        NaN      NaN  NaN  11000027
2   1985   4957  NaN  NaN  NaN        NaN      NaN  NaN  11000027

[360 rows x 9 columns]

In [65]:
pd.concat(cheatham)

       1      2    3    4    5            6         7    8     loc_id
2   2020   5212  504   10   65  4,950 (95%)  262 (5%)  NaN   11000001
3   2019   6493  NaN   13   65          NaN       NaN  NaN   11000001
4   2018  55582  NaN  NaN  NaN          NaN       NaN  NaN   11000001
5   2017   5488  NaN   10   65          NaN       NaN  NaN   11000001
6   2016   5300  NaN  NaN  NaN  5,168 (98%)  131 (2%)  NaN   11000001
..   ...    ...  ...  ...  ...          ...       ...  ...        ...
6   2011   4536  NaN   14  100          NaN       NaN  NaN  11000002R
2   2010   4492  NaN   14  100          NaN       NaN  NaN  11000002R
3   2009   4474  NaN   14  100          NaN       NaN  NaN  11000002R
4   2008   4868  NaN   14  100          NaN       NaN  NaN  11000002R
5   2007   4927  NaN   14  100          NaN       NaN  NaN  11000002R

[64 rows x 9 columns]

In [55]:
pd.DataFrame.drop?

In [61]:
cheatham[0].iloc[2:-1].drop(0, axis =1)

      1      2    3    4    5            6         7    8    loc_id
2  2020   5212  504   10   65  4,950 (95%)  262 (5%)  NaN  11000001
3  2019   6493  NaN   13   65          NaN       NaN  NaN  11000001
4  2018  55582  NaN  NaN  NaN          NaN       NaN  NaN  11000001
5  2017   5488  NaN   10   65          NaN       NaN  NaN  11000001
6  2016   5300  NaN  NaN  NaN  5,168 (98%)  131 (2%)  NaN  11000001

In [14]:
for page in cheatham:
    r = requests.get(URL + str(cheatham), headers = headers)
    print(url)

#     local_id = pd.read_html(r.text)[7].loc[0,1]
#     pie.append(local_id)

1
2
3
4
5
1

KeyboardInterrupt:

In [13]:
view = pd.read_html(r.text)[7].loc[0,1]

IndexError: list index out of range

In [ ]:
r = requests.get(URL, headers = headers)
local_id = pd.read_html(r.text)[7].loc[0,1]
local_id

In [ ]:
print(URL)

In [ ]:
re.findall('offset=(\d)', URL)

In [ ]:
URL = 'https://tdot.public.ms2soft.com/tcds/tdetail.asp?offset='

In [ ]:
pls_work = []

In [ ]:
bedford


local_id = '19000001R'
offset = 1
pg = 5

URL = f'https://tdot.public.ms2soft.com/tcds/ajax/tcds_tdetail_aadt.asp?offset={offset}&agency_id=295&local_id={local_id}&page_type=&pg={pg}&ajax_time=1639668768124'

response = requests.get(URL, headers = headers)

pd.read_html(response.text)[0]

x = 10

f'this an an f-string with x = {x}'